
 <style type="text/css">

.thumb {
    background-color: #f4f7f7;
    height: 100px; width: 200px;
    display: inline-block;
}
#middle{
    float: left;
    margin:5px;
    
}
#side_rigth_box{
    margin:5px;
    margin-left:845px;
}

</style>
    
<div class="jumbotron" style="margin-bottom: 3 ">
	<div class="container">
        <h1 style="font-family:inherit"> <strong> <span style="color: #d44865; font: Bold;">기숙사 세탁실 모니터링 </span> </strong></h1>
    </div>
</div>


<% if user_signed_in? %>

<div class="container">

    <div>
        <br>
        <h3 style = "color: #383A3F; font-family:inherit; text-align:center;" >[ 세탁실 A ]</h3>
            <hr>
            <%= render template: "studies/index_all" %>
            <div style = "padding-left: 30px">
            <div id = "middle">
                <div id="main">
                    <article class="thumb">
                    <h3 style="font-family:inherit"> <strong> <span style="color: #f15c5c; font: Bold;">1</span> </strong></h3>
					</article>
                </div>
            </div>
            <div id = "middle">
                <div id="main">
                    <article class="thumb">
                    <h3 style="font-family:inherit"> <strong> <span style="color: #f15c5c; font: Bold;">2</span> </strong></h3>
					</article>
                </div>
            </div>
            <div id = "middle">
                <div id="main">
                    <article class="thumb">
                    <h3 style="font-family:inherit"> <strong> <span style="color: #f15c5c; font: Bold;">3</span> </strong></h3>
					</article>
                </div>
            </div>
            <div id = "middle">
                <div id="main">
                    <article class="thumb">
                    <h3 style="font-family:inherit"> <strong> <span style="color: #f15c5c; font: Bold;">4</span> </strong></h3>
					</article>
                </div>
            </div>
            <div id = "middle">
                <div id="main">
                    <article class="thumb">
                    <h3 style="font-family:inherit"> <strong> <span style="color: #f15c5c; font: Bold;">5</span> </strong></h3>
					</article>
                </div>
            </div>
            
            
            <div id = "side_rigth">
                <div id = "side_rigth_box">
					<div id="main">
                        <article class="thumb">
                        <h3 style="font-family:inherit"> <strong> <span style="color: #f15c5c; font: Bold;">6</span> </strong></h3>
						</article>
                    </div>
                    <div id="main">
                        <article class="thumb">
                        <h3 style="font-family:inherit"> <strong> <span style="color: #f15c5c; font: Bold;">7</span> </strong></h3>
						</article>
                    </div>
                    <div id="main">
                        <article class="thumb">
                        <h3 style="font-family:inherit"> <strong> <span style="color: #f15c5c; font: Bold;">8</span> </strong></h3>
						</article>
                    </div>
                    <div id="main">
                        <article class="thumb">
                        <h3 style="font-family:inherit"> <strong> <span style="color: #f15c5c; font: Bold;">9</span> </strong></h3>
						</article>
                    </div>
                    </div>
                </div>
            </div>
        <br>
    </div>



        <br>
    </div>
    


    <hr>


</div>
<% else %>
    <%= render 'devise/sessions/new' %>
<% end %>


